.row {
  display: inline-block;
}
.wrapper { 
  width:auto;
  min-height:500px;
  height:auto;
  margin-top:10px;
}
.google_search{
  width: 300px;
  height:auto;
  margin-top:10px;
}

.google_search, wrapper {
  float: left;
}
